/*
 * I am trying to base our colors off Radu Dineiu <radu.dineiu@gmail.com>'s
 *  "rdark" vim colorscheme, which can be found at: http://ld.yi.org/vim/rdark/
 */

body {
  background: #000000;
  font-family: Segoe UI, Arial, sans-serif;
  color: #babdb6;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20em;
}

#body {
  margin-left: 20em;
}

#body h3 {
  margin-top: 1em;
  margin-bottom: 0.3em;
}

ul {
  padding-left: 20px;
}

a {
  cursor: pointer;
}

.inline-icon {
  background-image:url(../css/ui-darkness/images/ui-icons_cccccc_256x240.png);
  height:16px;
  width:16px;
  display: inline-block;
  background-repeat:no-repeat;
  overflow:hidden;
  text-indent:-99999px;
}

.docthing {
  background: #1e2426;
  color: #babdb6;
  -moz-border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.collapsed:after {
  content: "...";
}

.docthing h2 {
  margin: 0;
}

table {
  border-spacing: 0;
}

td {
  padding: 2px 4px;
  vertical-align: top;
}

.docthing tr:hover {
  background: #2c3032;
}

.docthing-toolbar {
  float: right;
  text-align: right;
  font-size: 80%;
  color: #656763;
  cursor: pointer;
}

.docthing-toolbar span:hover .inline-icon {
  background-image: url(../css/ui-darkness/images/ui-icons_ffffff_256x240.png);
}

.docthing-toolbar span:hover {
  color: #fcaf3e;
}

.file-name {
  color: #729fcf;
}

.global-name {
  color: #ad7fa8;
}

.function-name {
  color: #fcaf3e;
}

.type-name {
  color: #8ae234;
}

.class-name {
  color: #8ae234;
}

.method-name {
  color: #fcaf3e;
}

.field-name {
  color: #ad7fa8;
}

.getter-name {
  color: #ad7fa8;
}

.setter-name {
  color: #ad7fa8;
}

.param-name {
  color: #ad7fa8;
}

.reference-name {
  color: #cccccc;
  font-weight: bold;
}

.undocumented {
  color: #656763;
}

.extraname {
  color: #656763;
}

.comment-box {
  border: 1px solid #ffffff;
  -moz-border-radius: 3px;
  padding: 4px;
  margin: 4px;
}

.comment-edit-text {
  width: 95%;
  width: -moz-available;
  height: 8em;
}

.comment-display-text {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.graph-fd {
  width: 95%;
  width: -moz-available;
  height: 30em;
}

#perf-tooltip {
  position: absolute;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  border: 1px solid #aaaaaa;
  padding: 4px;
}

#sidebar .happybox h3 {
  -moz-border-radius: 6px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  border: 1px solid #333333;
  background: #333333 url(../css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;

  padding: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}

#sidebar .happybox h3 .ui-icon {
left:0.5em;
margin-top:-8px;
position:absolute;
top:50%;
}

#sidebar .happybox h3 a {
  display: block; font-size: 1em; padding: .5em .5em .5em 2.2em;
}
