/*
 * I am trying to base our colors off Radu Dineiu <radu.dineiu@gmail.com>'s
 *  "rdark" vim colorscheme, which can be found at: http://ld.yi.org/vim/rdark/
 */

body {
  background: #000000;
  font-family: Segoe UI, Arial, sans-serif;
  color: #babdb6;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
}

#body {
  margin-left: 20%;
}

ul {
  padding-left: 20px;
}

.inline-icon {
  background-image:url(../css/ui-darkness/images/ui-icons_cccccc_256x240.png);
  height:16px;
  width:16px;
  display: inline-block;
  background-repeat:no-repeat;
  overflow:hidden;
  text-indent:-99999px;
}

.docthing {
  background: #1e2426;
  color: #babdb6;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.collapsed:after {
  content: "...";
}

.docthing h2 {
  margin: 0;
}

table {
  border-spacing: 0;
}

td {
  padding: 2px;
}

.docthing tr:hover {
  background: #2c3032;
}

.docthing-toolbar {
  float: right;
  text-align: right;
  font-size: 80%;
  color: #656763;
}

.docthing-toolbar span:hover {
  color: #fcaf3e;
}

.file-name {
  color: #729fcf;
}

.global-name {
  color: #ad7fa8;
}

.function-name {
  color: #fcaf3e;
}

.class-name {
  color: #8ae234;
}

.method-name {
  color: #fcaf3e;
}

.field-name {
  color: #ad7fa8;
}

.getter-name {
  color: #ad7fa8;
}

.setter-name {
  color: #ad7fa8;
}

.undocumented {
  color: #656763;
}

#sidebar .happybox h3 {
  -moz-border-radius-bottomleft:6px;
  -moz-border-radius-bottomright:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  border: 1px solid #333333;
  background: #333333 url(../css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;

  padding: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}

#sidebar .happybox h3 .ui-icon {
left:0.5em;
margin-top:-8px;
position:absolute;
top:50%;
}

#sidebar .happybox h3 a {
  display: block; font-size: 1em; padding: .5em .5em .5em 2.2em;
}