/* add styles here */

body {
  background: #000000;
  font-family: Segoe UI, Arial, sans-serif;
  color: #ffffff;
}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 20%;
}

#body {
  margin-left: 20%;
}

ul {
  padding-left: 20px;
}

.docthing {
  background: #222222;
  -moz-border-radius-bottomleft:3px;
  -moz-border-radius-bottomright:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-topright:3px;
  padding: 0.5em;
  margin-bottom: 1em;
}

.docthing h2 {
  margin: 0;
}

.docthing-toolbar {
  float: right;
}

.file-name {
  color: #ac66d5;
}

.global-name {
  color: #6f0aaa;
}

.function-name {
  color: #540ead;
}

.class-name {
  color: #9702a7;
}

.method-name {
  color: #540ead;
}

.field-name {
  color: #6f0aaa;
}

.undocumented {
  color: #aaaaaa;
}

#sidebar .happybox h3 {
  -moz-border-radius-bottomleft:6px;
  -moz-border-radius-bottomright:6px;
  -moz-border-radius-topleft:6px;
  -moz-border-radius-topright:6px;
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  border: 1px solid #333333;
  background: #333333 url(../css/ui-darkness/images/ui-bg_gloss-wave_25_333333_500x100.png) 50% 50% repeat-x; color: #ffffff; font-weight: bold;

  padding: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}

#sidebar .happybox h3 .ui-icon {
left:0.5em;
margin-top:-8px;
position:absolute;
top:50%;
}

#sidebar .happybox h3 a {
  display: block; font-size: 1em; padding: .5em .5em .5em 2.2em;
}